{% extends 'base.html.twig' %}

{% block title %}Hello AccountUserController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Compte d'utillisateur</h1>
    <div id="containerAccount">
        <div id="ContainerNavAccount">
            <p class="navAccount" id="profilAccount">Profil</p>
            <p class="navAccount" id="mesCommandesAccout">Mes commandes</p>
            <p class="navAccount" id="mesAdressesAcount">Mes adresses</p>
            <p class="navAccount">Déconnexion</p>
        </div>
        <div id="containerInfoAccount">
            <div class="infoAccount" id="templatProfil"></div>
            <div class="infoAccount visible" style="background-color: #1a1e21 !important;" id="templatMesComandes" ></div>

            <div class=" infoAccount" id="templatMesAdresse">
                <div class="card-header text-center">
                    Mes adresses
                </div>
                    <div class="row">
                        <pre>
            {{ dump(app.user.adresses) }}
        </pre>
                        {% if app.user.adresses %}
                            {% for adresse in app.user.adresses %}
                                <p>{{ adresse | length }} adresses enregistrer</p>
                                    <div class="card text-center col-6" >
                                        <div class="card-body">
                                            <p>{{ adresse.fullName }}<br>
                                            {{ adresse.address }} {{ adresse.complement }}<br>
                                                {{ adresse.city }} {{ adresse.bodepostal }}<br>
                                                {{ adresse.country }}</p>
                                            <a href="{{ path('adresse_edit', {'id': adresse.id}) }}" class="btn btn-primary">Modifié</a>
                                            {{ include('adresse/_delete_form.html.twig') }}

                                            <a href="{{ path('adresse_delete', {'id': adresse.id}) }}" class="btn btn-danger">Supprimé</a>
                                        </div>
                                    </div>
                            {% endfor %}
                        {% else %}
                            <p>vous n'avez pas encore d'addresse cliké <a href="{{ path('adresse_new') }}">ici</a></p>
                        {% endif %}
                    </div>
            </div>

            <div class="infoAccount"></div>
        </div>
    </div>



</div>
{% endblock %}
