{% extends 'base.html.twig' %}
{% block stylePage %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block title %}accueil{% endblock %}


{% block body %}
<section>
    <div>
        <div class="container-md container-fluid">
            <div id="ctnVideo container">
                <video src="/assets/video/Rainy%20Day%20-%205278.mp4" id="video" autoplay ></video>
                <div class="containerText">
                    <h1 id="titreVideo" class="txtVideo" id='titreVideo'>MyBoutique</h1>
                    <p class="txtVideo" id="textVideo">le grand pour tous sans le covid</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <secti>
        <div class="container-md container-fluid" >
            <h2>Nos meilleur vente</h2>

            <div class="container_carousel row">
                {% for produit in infoProduit %}
                   {# <div class="carousel col-sm-12 col-md-3">
                        <div class='col'>
                            <img src="/assets/upload/produit/{{ produit.image }}"  alt="image du produit">
                        </div>
                        <div class="col">
                            <div class="infoProdui row">
                                <h3 class="col-8"></h3>
                                <p class="col-4 prixProduit">prix <span>€</span></p>
                            </div>
                            <div>
                                <p>desciption courte de l'article afiché voiudpo jdlmmh sp pjmomojm...</p>
                            </div>
                        </div>
                    </div>#}
                    <div class="col-3" >
                        <a href="{{ path('produit',{slug: produit.slug}) }}">
                            <img src="/assets/upload/produit/{{ produit.image }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="row">
                                <h5 class="title">{{produit.nom}}</h5>
                                <p class="text">{{produit.prix/100}} <span>€</span></p>
                            </div>
                            <p class="card-text">{{produit.description}}</p>
                        </div>
                    </div>
                {% endfor %}



            </div>

        </div>
    </secti>
{% endblock %}
