{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container card-register">
        <div class="card-header text-center">
            Inscription
        </div>
        <div class="card-body ">

            {{ form_start(registrationForm) }}
            <div class="form-group">

                {{ form_row(registrationForm.email) }}

                {{ form_row(registrationForm.username) }}

                {{ form_row(registrationForm.firstname) }}

                {{ form_row(registrationForm.lastname) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <p>Lire les <a href="{{ path('c_g_utilisateur') }}">conditions générales d'utillisation</a></p>
                {{ form_row(registrationForm.agreeTerms, {
                    label:'Je confirme avoir lu et accepte les conditions d\'utilisateurs'
                }) }}

            </div>


            <button type="submit" class="btn btn-outline-secondary" id="btn-register">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
