{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>NomEntreprise</th>
                <th>Address</th>
                <th>Complement</th>
                <th>Phone</th>
                <th>City</th>
                <th>Bodepostal</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.fullName }}</td>
                <td>{{ adresse.nomEntreprise }}</td>
                <td>{{ adresse.address }}</td>
                <td>{{ adresse.complement }}</td>
                <td>{{ adresse.phone }}</td>
                <td>{{ adresse.city }}</td>
                <td>{{ adresse.bodepostal }}</td>
                <td>{{ adresse.country }}</td>
                <td>
                    <a href="{{ path('adresse_show', {'id': adresse.id}) }}">show</a>
                    <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adresse_new') }}">Create new</a>
{% endblock %}
