{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading_s1">
                        <h4>vérrifier votre Addresse</h4>
                        <div class="content">
                            {{ adresse | replace({'[spr]':'<br>','FR':'france'})| raw }}
                            <a href="{{ path('adresse_edit', {'id': adresse.id}) }}" class="btn btn-outline-secondary">Modifié</a>
                            <a href="{{ path('checkout_edit') }}" class="btn btn-outline-secondary">changer d'adresse</a>

                        </div>
                    </div>

                    <div class="heading_s1">
                        <h4>votre transporteur</h4>
                        <div class="content">

                            {{transporteur | replace({'[spr]':'<br>','FR':'france'})| raw  }}
                            <a href="{{ path('checkout_edit') }}" class="btn btn-outline-secondary">changer de transporteur</a>


                        </div>
                    </div>
                    {% if info %}
                        <div class="heading_s1">
                            <h4>Information complémentaire</h4>
                            <div class="form-group mb-0">
                                {{ info }}
                            </div>
                        </div>
                    {% endif %}

                </div>

                <div class="col-md-6">
                    <div class="order_review">
                        <div class="heading_s1">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for item in cart.produit %}
                                    <tr>
                                        <td>{{ item.produit.nom }}<span class="product-qty"> x {{ item.quantity }}</span></td>
                                        <td>{{ item.produit.prix }} €</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>trasporteur</th>
                                    <td class="product-subtotal">{{ transporteur.prix  }} €</td>
                                </tr>

                                <tr>
                                    <th>Total TTC</th>
                                    <td class="product-subtotal">{{ cart.data.subTotall + transporteur.prix }} €</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="heading_s1">
                                <h4>Payment</h4>
                            </div>

                        </div>
                        
                            <form action="{{ path('stripe_checkout_session',{reference:ref} ) }} " method="POST">
                                <button type="submit" id="checkout-button">Checkout</button>
                            </form>                    
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block scriptPage %}
     <script src="https://js.stripe.com/v3/"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

    {% endblock %}
